/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
 @font-face {
  font-family: 'Profilfont-Regular-Web';
  src: local('Profilfont-Regular-Web'), url(fonts/Profilfont-Regular-Web.woff) format('woff');
}

html {
  font-family: 'Profilfont Regular Web', sans-serif;
}